{% extends "base.html" %}

{% block main %}

    <div class="wrapper">
        <span class="title-text">REGISZTRÁCIÓ</span>
        <form method="POST" action="register">
            <input class="input-text" type="text" name="user-name" placeholder="Játékos neve">
            <br>
            <input class="input-text" type="text" name="user-email" placeholder="Játékos e-mailje">
            <br>
            <input class="input-text" type="password" name="user-pw" placeholder="Jelszó">

            <button>Mehet</button>
        </form>
    </div>
{% endblock main %}